<a href="https://colab.research.google.com/github/buttaakhil/ImbalanceDataInClassification/blob/main/Random_Under_And_Over_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("social_ads.csv")
print(dataset.head(3))

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0

In [3]:
dataset.drop(columns=["EstimatedSalary"],inplace=True)

In [4]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [5]:
x=dataset.iloc[:,:-1]
y=dataset["Purchased"]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.9125

In [10]:
from imblearn.under_sampling import RandomUnderSampler

In [11]:
ru=RandomUnderSampler()
ru_x,ru_y=ru.fit_resample(x,y)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:484: FutureWarning: `BaseEstimator._check_n_features` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_n_features` instead.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: FutureWarning: `BaseEstimator._check_feature_names` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_feature_names` instead.
  warnings.warn(

In [12]:
ru_y.value_counts()

Purchased
0    143
1    143
Name: count, dtype: int64

In [13]:
x_train,x_test,y_train,y_test=train_test_split(ru_x,ru_y,test_size=0.2,random_state=42)

In [14]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.8103448275862069

In [15]:
from imblearn.over_sampling import RandomOverSampler

In [16]:
ro=RandomOverSampler()
ro_x,ro_y=ro.fit_resample(x,y)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:484: FutureWarning: `BaseEstimator._check_n_features` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_n_features` instead.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: FutureWarning: `BaseEstimator._check_feature_names` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_feature_names` instead.
  warnings.warn(

In [17]:
ro_y.value_counts()

Purchased
0    257
1    257
Name: count, dtype: int64

In [18]:
x_train,x_test,y_train,y_test=train_test_split(ro_x,ro_y,random_state=42,test_size=0.2)

In [19]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.7864077669902912